<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Blogs</title>
  </head>
  <body>
    <h1>Your Blogs</h1>
    <% if(blogs.length!==0){ %> <% blogs.forEach((e,index) => { %>

    <h1><%= e.title %></h1>
    <%= e.content %>
    <a href="/update"
      ><button style="border-color: rgb(150, 150, 199)">Edit</button></a
    >
    <button
      onclick="onDelete(blogs,index)"
      style="border-color: rgb(231, 113, 113)"
    >
      Delete
    </button>

    <br />
    <hr />
    <%});%> <%} else { %>
    <hr />
    <br />
    <h3>no blogs to display</h3>
    <%}%>

    <a href="/create"
      ><button style="background-color: rgb(182, 114, 114)">back</button></a
    >
    <a href="/"
      ><button style="background-color: rgb(126, 194, 126)">Home</button>
    </a>
  </body>
</html>
